@import "tailwindcss";


@theme {
  --color-black-primary: #260101;
  --color-orange-primary: #F8861C;
  --color-burnt-umber: #8C2F0B;
  --color-charcoal-gray: #1E1E1E;
  --color-red-ifood: #EA1D2C;
  --color-green-whatsapp: #25D366;
}