---
import { Icon } from "astro-icon/components";
---

<footer class="w-full">
  <div class="bg-charcoal-gray flex flex-col w-full justify-center items-center text-white py-3 gap-4 lg:flex-row lg:justify-evenly lg:gap-0">
    <div class="flex flex-col justify-center items-center">
      <h3 class="text-lg font-bold">Onde Estamos?</h3>
      <p>Paranavaí - PR</p>
    </div>
    <div class="flex flex-col justify-center items-center">
      <h3 class="text-lg font-bold">Acompanhe-nos nas redes</h3>
      <a href="https://www.instagram.com/sos_salgados_michelealmeida/" target="_blank">
        <Icon name="mdi:instagram" class="w-8 h-8" />
      </a>
    </div>
  </div>
</footer>