--- 
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>S.O.S Salgados</title>
  </head>

  <body>
    <slot />

    <!-- Importa o script de animação após o conteúdo para garantir que o DOM esteja pronto -->
		<script type="module">
      import "/src/scripts/fade-up.ts";
    </script>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
